/* GLOBAL RULES AND COMPONENTS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Be Vietnam", sans-serif;
  font-size: 14px;
  text-align: center;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  color: hsla(228, 39%, 23%, 0.5);
  line-height: 2rem;
  margin: 1rem 0;
}

ul {
  list-style: none;
}

.red-btn {
  all: unset;
  background-color: hsl(12, 88%, 59%);
  border-radius: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  padding: 1rem 2.3rem;
}

.active-brighter:active {
  filter: brightness(150%);
  transition: filter 200ms;
}

.active-opacity:active {
  opacity: 0.6;
  transition: opacity 100ms;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 3% 7.5%;
  width: 100%;
}

nav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 2.5vh 0;
  width: 100%;
  z-index: 1;
}

/* In mobile version the red button is not visible */
nav .red-btn {
  display: none;
}

#menu {
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: hsl(228, 45%, 3%);
  flex-direction: column;
  font-weight: 700;
  height: 40vh;
  justify-content: space-around;
  left: 0;
  margin: 0 7.5%;
  padding: 5%;
  position: absolute;
  top: 12vh;
  width: 85%;
}

#menu li:active {
  opacity: 0.5;
}

.fade-overlay {
  background: linear-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(5, 6, 12, 0.6) 100vh
  );
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.hero-text,
#illustration-intro {
  width: 100%;
}

.header-content::before {
  background-image: url("./images/bg-tablet-pattern.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 120%;
  content: "";
  height: 45vh;
  left: 25%;
  position: absolute;
  top: 0;
  width: 75%;
  z-index: -1;
}

.hero-text button {
  margin: 2rem 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

/* What's different? section */

.selling-points {
  display: flex;
  flex-direction: column;
  position: relative;
}

.whats-different {
  padding: 3% 7.5%;
}

.whats-different::before {
  background-image: url("./images/bg-tablet-pattern.svg");
  background-position: left 10vw bottom;
  background-repeat: no-repeat;
  background-size: 180%;
  content: "";
  height: 100vh;
  left: 50%;
  position: absolute;
  top: -100vh;
  width: 50%;
  z-index: -1;
}

.whats-different h2 {
  font-size: 2rem;
  font-weight: 700;
}

.bullet-point-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 3%;
  text-align: left;
  width: 100%;
}

.bullet-point-container h3 {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.bullet-point-container button {
  box-shadow: none;
  font-size: 1.2rem;
  padding: 0.6rem 1.7rem;
  position: relative;
}

.bullet-point-button::after {
  background: linear-gradient(to right, hsl(13, 100%, 96%) 80%, white);
  bottom: 0;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 30px;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.bullet-point-container p {
  margin-bottom: 3.5rem;
}

/* Testimonials */

.testimonials-container {
  padding: 3%;
  text-align: center;
}

.testimonials-container h2 {
  font-size: 2.3rem;
  margin-bottom: 4.4rem;
}

.testimonial-header,
.testimonial-text {
  background-color: hsl(0, 0%, 98%);
}

.testimonial-text {
  margin: 0;
  padding: 2rem 1rem;
}

.testimonial-header {
  font-size: 1.2rem;
  padding: 4.2rem 0 1rem;
}
.testimonial-pic {
  height: auto;
  position: relative;
  top: 3rem;
  width: 6rem;
}

ul.splide__pagination {
  bottom: unset;
  left: unset;
  margin: 2rem 0;
  position: unset;
  transform: unset;
}

li > .splide__pagination__page {
  background: none;
  border: 1px solid hsl(12, 88%, 59%);
}

li > .splide__pagination__page.is-active {
  background-color: hsl(12, 88%, 59%);
}

.testimonials-container button.red-btn {
  margin: 2rem;
}

/* Simplify-section */
.inverse-colors {
  background-color: white;
  color: hsl(12, 88%, 59%);
}

.cta {
  align-items: center;
  background-color: hsl(12, 88%, 59%);
  background-image: url("./images/bg-simplify-section-mobile.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  padding: 12% 6%;
}

.cta > h2 {
  color: white;
  font-size: 3rem;
}

.cta > button {
  margin: 2rem;
}

/* Footer */
footer {
  background-color: hsl(233, 12%, 13%);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  text-align: left;
}

form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  position: relative;
  width: 100%;
}

form > input {
  border-radius: 3rem;
  flex-grow: 1;
  height: 3.5rem;
  margin-right: 1rem;
  padding-left: 1.5rem;
}

form > button:disabled {
  background-color: hsl(0, 0%, 50%);
}

form > p {
  color: hsl(12, 88%, 59%);
  display: none;
  left: 1.5rem;
  position: absolute;
  top: 2.5rem;
}

.logo-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 15vh;
}

.logo-group > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer-nav li {
  margin-bottom: 1rem;
}

.footer-nav li:hover {
  color: hsl(12, 88%, 59%);
}

.logo-group li svg {
  transform: scale(150%);
}

.logo-group svg {
  margin-right: 1rem;
  fill: white;
}

.logo-group svg:active {
  fill: hsl(12, 88%, 59%);
  transition: fill 200ms;
}

.copyright-text {
  background-color: hsl(233, 12%, 13%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin: 0;
  padding: 0 5%;
  text-align: center;
}
/* Mobile snap width */
@media only screen and (min-width: 1100px) {
  /* Global rules */
  html {
    font-size: 16px;
    text-align: left;
  }
  /* Header */
  header {
    text-align: left;
  }

  nav {
    align-items: center;
  }
  nav .red-btn {
    display: inline-block;
  }
  #menu-button {
    display: none;
  }
  #menu {
    background-color: unset;
    box-shadow: unset;
    flex-direction: row;
    flex-grow: 1;
    font-weight: 500;
    height: unset;
    margin: unset;
    position: static;
    width: unset;
  }

  .header-content {
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: 10% 0;
  }

  .header-content::before {
    background-position: left 10vw bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70vh;
    left: 50%;
    top: 0;
    width: 50%;
  }

  h1 {
    font-size: 3.5rem;
  }

  .hero-text,
  #illustration-intro {
    width: 50%;
  }

  .hero-text > p {
    padding-right: 25%;
  }

  /* Main content */
  .selling-points {
    flex-direction: row;
  }

  .whats-different::before {
    background-position: right top;
    background-size: 180%;
    height: 100vh;
    left: 0;
    top: 35vh;
    width: 25%;
  }

  .whats-different > h2 {
    font-size: 2.5rem;
  }

  .bullet-point-container,
  .whats-different {
    width: 50%;
  }

  .bullet-point-button::after {
    all: unset;
  }

  .bullet-point-container > p {
    margin-left: 98px;
  }
  /* Testimonials */

  /* Call-to-action */
  .cta {
    align-items: flex-start;
    background-image: url("./images/bg-simplify-section-desktop.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 10%;
  }
  .cta > h2 {
    width: 50%;
  }

  .cta > button {
    margin: 0;
  }
  /* Footer */
  footer {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5% 10% 100px;
  }
  .logo-group {
    flex-direction: column-reverse;
    order: -1;
    width: 15vw;
    flex-shrink: 0;
  }

  .logo-group ul {
    width: 100%;
  }

  form {
    align-items: flex-start;
    justify-content: flex-end;
    order: 1;
    width: unset;
  }
  form .red-btn {
    margin: 0;
  }
  .copyright-text {
    margin-top: -148px;
    padding: 0 10%;
    text-align: end;
  }
}

@media only screen and (min-width: 1600px) {
  /* Header */
  #menu {
    width: 60%;
    flex-grow: 0;
  }
}
